{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<!--!!!!!!!!!!!!!!! Courousal Start !!!!!!!!!!!!!!!1-->
<div class="container-fluid px-0">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static/22.jpg" height="670px" class="d-block w-100" alt="...">
          <div class="container">
            <div class="carousel-caption">
              <h1>Best Places near by Taj Mahal.</h1>
              <p>Some intersting and famous places near by Taj Mahal .</p>
              </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="static/23.jpg" height="670px" class="d-block w-100" alt="...">
          <div class="container">
            <div class="carousel-caption">
              <h1>Taj Mahal.</h1>
              <p>It was built by the fifth Mughal emperor, Shah Jahan in 1631 in memory of his third but the most favourite wife.</p>
              </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="static/19.jpg"  height="670px" class="d-block w-100" alt="...">
          <div class="container">
              <div class="carousel-caption">
                <h1>Another example headline.</h1>
                <p>Some representative placeholder content for the second slide of the carousel.</p>
              </div>
            </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>

 
<main style="font-family:verdana;">
        
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><strong>About Us</strong></h1>
        <p class="lead text-muted">We Provide best Tourist Places for our trip members. we see eveybody comfortable in trip involves an overnight stay away from the normal place of residence. It includes “Travel” and “Stay” in the place outside the usual environment. We trip members transportation, accommodation and entertainment and many more.</p><br>
        <strong style="font-size: 200%; text-align:center;"><marquee class="marq" behavior="alternate" direction="right">Some Trip with Travel Bharat below</marquee></strong>
      </div>
    </div>
  </section>

  <div class="container marketing">

    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Taj Mahal. <span class="text-muted">Sign of Love.</span></h2>
        <p class="lead">It was built by the fifth Mughal emperor, Shah Jahan in 1631 in memory of his third but the most favourite wife, in fact a soul-mate Mumtaz Mahal, a Muslim Persian princess. She died while accompanying her husband in Burhanpur in a campaign to crush a rebellion after giving birth to their 13th child.
          <br><br>Why Taj Mahal is 7th wonder?<br>
            The dead body of <b>Mumtaz has placed at the Banks of River Yamuna.</b> As he promised he constructed the Taj Mahal over her grave. Even Shah Jahan dead body was laid beside Mumtaz Tomb. <b>The love between Shah Jahan and Mumtaz made a beautiful monument which is one of the Seven Wonders of the World</b>
        </p>
      </div>
      <div class="col-md-5">
        <img src="static/2.png"  width="500" height="500" class="d-block w-100" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">India Gate. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">
            India Gate, official name <b> Delhi Memorial</b>, originally called All-India War Memorial, monumental sandstone arch in New Delhi, <b>dedicated to the troops of British India who died in wars fought between 1914 and 1919</b>.<br><br>
            India Gate was designed by <strong>Sir Edwin Lutyens</strong> and was built in 1931 and initially named as 'All India War Memorial'. Inspired by the Arc de Triomphe in Paris and constructed in red sandstone and granite, India Gate stands 42 m tall.
          .</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="static/24.jpg"  width="500" height="500" class="d-block w-100" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
       <img src="static/18.jpg"  width="500" height="500" class="d-block w-100" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES --></div>

  

</main>

{% endblock body %}
