{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}
<!-- !!!!!!!!!! carousel Start !!!!!!!!!!!-->
<div class="container-fluid px-0">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/11.jpg" height="670px" class="d-block w-100" alt="...">
            <div class="container">
              <div class="carousel-caption">
                <h1>Best Places for our Travelers.</h1>
                <p>We provide our travelers best hotel and facelitys.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="static/29.jpg" height="670px" class="d-block w-100" alt="...">
            <div class="container">
              <div class="carousel-caption">
                <h1>Best Tourism Sites.</h1>
                <p>We provide best tourist place in chepest rate.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="static/21.jpg"  height="670px" class="d-block w-100" alt="...">
            <div class="container">
                <div class="carousel-caption">
                  <h1>Taj Mahal.</h1>
                  <p>It was built by the fifth Mughal emperor, Shah Jahan in 1631 in memory of his third but the most favourite wife.</p>
               </div>
              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<!-- !!!!!!!!!!!!! carousel End !!!!!!!!!!!!!!-->

 <!--!!!!!!!!!!!!! Features Start !!!!!!!!!!!!!!-->


  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"> Services Album</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        </div>
    </div>
  </section>

  <!-- !!!!!!!!!!!@@@@@@@@@@  Album Start @@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
<div class="container my-4 text-center">
    <h1 class="my-2 text-center" style="font-family:verdana; font-size: 250%; background-color:lightgreen; color:red;"> OUR MAIN PLACES TO VISIT</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
              <img src="static/1.png" height="267px"  class="d-block w-100" alt="..."> 
  
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/20.jpg"  height="267px"  class="d-block w-100" alt="...">
  
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="static/3.jpg"  height="267px"  class="d-block w-100" alt="...">  
  
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card shadow-sm">
              <img src="static/5.jpeg"  height="267px" class="d-block w-100" alt="...">
  
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="static/5.jpg"  height="267px"  class="d-block w-100" alt="...">
  
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="static/6.jpg"  height="267px"  class="d-block w-100" alt="...">
  
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card shadow-sm">
              <img src="static/7.jpg"  height="267px" class="d-block w-100" alt="...">
  
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="static/8.jpg"  height="267px"  class="d-block w-100" alt="...">
  
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="static/19.jpg"  height="267px"  class="d-block w-100" alt="...">
  
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<h1 class="my-2 text-center" style="font-family:verdana; font-size: 250%; padding-top: 2px; padding-bottom:2px"> OUR SERVICES</h1>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" style="padding:5px; margin: 5px;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/30.jpeg" class="d-block w-100" alt="..." height="600px">
        <div class="container">
            <div class="carousel-caption">
              <h1>Customer Satisfaction</h1>
              <p>We provide every thing according to customer needs.</p>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <img src="static/28.jpg" class="d-block w-100" alt="..." height="600px">
        <div class="container">
            <div class="carousel-caption">
              <h1>Air Trip also Boating Rides</h1>
              <p>We provide our customer some amzing rides.</p>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/31.jpg" class="d-block w-100" alt="..." height="600px">
        <div class="container">
            <div class="carousel-caption">
              <h1>UnderGround Trip</h1>
              <p>We provide our customer some amzing Trip.</p>
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
  

<!--!!!!!!!!!!!!!! Features End !!!!!!!!!!!!!!!!!-->
   
{% endblock body %}
